.h1 {

}

.h2 {

}

.h3 {

}

.p {

}

.p1 {

}

.list1 { background-color: yellow;
    font-size: 28px;
    left: 20%;
    margin: 10px;

}

.hoover { 
    box-shadow: gray;
}

.btn {

}

.button {

}

.background {
background-color: gray;
background-blend-mode: black;
background-blend-mode: red;
}

.animation-timing-fuction {

}

.background-position {
}

.box-sizing {

}

.display {

}

.text-decoration {

}

